@model FirstWebAppMVC.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<ul>
    @foreach(var product in Model.Items)
    {
        <li>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">
                @product.Name
            </a>
        </li>
    }
</ul>